
  <footer class="footer" <a href="/"
    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="11" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    </a>

    <p class="p"> Operar con instrumentos financieros conlleva altos
      riesgos, incluyendo la  pérdida de parte o la totalidad de la
      inversión, y puede ser una actividad no recomendada para todos los
      inversores. Los precios de las acciones y carteras de inversion pueden ser
      volátiles y  pueden verse afectadas por factores externos como el
      financiero,  el legal o el político. Ademas, si utilizamos apalancamiento para obtener mayor rentabilidad,
      aumenta significativamente los riesgos de la inversión. Antes de realizar
      cualquier inversión en instrumentos financieros  debes  estar informado de los riesgos asociados de operar en los mercados
      financieros,  considerando tus objetivos de inversión, nivel de
      experiencia,  riesgo y solicitar nuestro u otro
      asesoramiento profesional en el caso de necesitarlo.
    </p>
    <hr>

    <ul class="nav col-md-0 justify-content-center">
      <li class="nav-item"><a href="../" class="nav-link p-3 text-white" _msthash="1243671"
          _msttexthash="59059">Inicio</a>
      </li>
      <li class="nav-item "><a href="../servicios" class="nav-link p-3 text-white" _msthash="1243671"
          _msttexthash="59059">Servicios</a></li>
      <li class="nav-item "><a href="../oficinas" class="nav-link p-3 text-white" _msthash="1243853"
          _msttexthash="136006">Oficinas</a></li>
      <li class="nav-item "><a href="../contacto" class="nav-link p-3 text-white" _msthash="1244217"
          _msttexthash="418782">Contacto</a></li>
    </ul>
    <hr>
    <p class="text-center">© 2022 UPFINANZAS, Inc.</p>

  </footer>

</div>