<main>
<body>

      <h1 class="text-center">Contacto</h1>
      <hr>
      <br>
      <br>
    <div class="form-wrapper">
      <div class="texto"> 
        <p>Escribinos para ayudarte a invertir tus ahorros</p>
        <br>
        <p>Tu futuro te lo agradecera</p>
        </div>  
      <form action="/contacto" method="POST">
        <div class="mb-2">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text"  class="form-control" id="nombre" name="nombre">
        </div>

        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="telefono">
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail">
        </div>
        <div class="consulta">
          <label for="exampleInputEmail1" class="form-label">Contanos tu situacion y porque queres invertir</label>
          <br>
          <textarea name="consulta"></textarea>
      <br>
      <br>
        <button type="submit" class="btn btn-dark">Enviar</button>
      </form>
    </div>
    </div>
</body>
      <br>
<img src="../Multimedia/logo.jpg" class="imagenes" />
</main>
<hr> 