
  <main>
<div class="carousel" >
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
          <img src="./Multimedia/finanzas1.jpg" class="d-block w-100" height="500px" alt="finanzas1">
        </div>
        <div class="carousel-item">
          <img src="./Multimedia/finanzas3.jpg" class="d-block w-100" height="500px" alt="finanzas3">
        </div>
        <div class="carousel-item">
          <img src="./Multimedia/finanzas2.jpg" class="d-block w-100" height="500px" alt="finanzas2">
        </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
 
  </main>
    <div class="texto"></div>
    <p> UPFINANZAS es equipo profesional que utiliza las últimas tecnologías para la administracion de fondos personales, invirtiendo en la bolsa y otros procesos economicos. </p>
    <p>Realizamos diferentes tipos de analisis para asegurarnos de obtener una rentabilidad mensual.</p>
    <p>Aplicamos distintos modelos de asociación con empresas u organizaciones, participando con capital propio o de terceros, de acuerdo al producto y segmento al que está dirigido.</p>
    <p> Nuestra tecnología nos permite operar en mercado abierto, con código de descuento o segmentos específicos. </p>
    </div>

    <h4 style="color: white">Somos el mejor equipo de profesionales especializados en el manejo de finanzas personales, que existe en la actualidad </h4>
    <br>

    <img src="../Multimedia/logo.jpg" class="imagenes" />
      <main>
<hr> 