    

    <main>
      <h1 class="text-center">Nuestras Oficinas</h1> 
    <!--Esto es un comentario del código HTML-->
        <br>
    <p class="text-center"> Camila O'Gorman 375, 9° piso Dpto. "B" (Puerto Madero)</p>
        <p class="text-center">--Buenos Aires-Argentina--</p>
    <hr>

   <div class="mapa d-flex justify-content-center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.2520202474827!2d-58.36230357509652!3d-34.62227663483072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334d01e8c2887%3A0x4089311bb126cb0b!2sTorres%20Art%20Mar%C3%ADa!5e0!3m2!1ses-419!2sar!4v1658800035450!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
    <br>
 <img src="../Multimedia/logo.jpg" class="imagenes" />
      </main>
<hr> 